@media all and (max-width: 768px) {
   .visible {
       display: none;
   }
   .hidden {
       visibility: visible;
   }
   header ul li a, header ul li {
       padding: 10px;
   }

   header ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    }


   #projeto, #sobre,  #importancia, footer {
       flex-direction: column-reverse;
   }

   section.background, #citacoes article {
       display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-position: center;
    }

    .text, #projeto .txt-container, #sobre .txt-container, #projeto .video-container, #sobre .txt-container, #importancia div, footer div, #citacoes article div.txt, #citacoes .imagem {
    width: 90%;
    margin: 0 auto;
}

}