* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    letter-spacing: 3px;
    font-size: 39px;
    color: #ffffff;
    border-bottom: 3px solid white;
}

 span {
    color: #FF002E;
}

p {
    color: white;
    line-height: 23px;
}

img {
    width: 500px
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(img/12.png);
    background-size: cover;
    background-position-y: -250px;
}

div {
    margin: 10%;
    width: 20%;
}


div a {
    text-decoration: none;
    color: white;
    padding: 10px 90px;
    border-radius: 8px;
    background-color: #FF002E;
    border: 1px solid #ffffff;;
}

div a:hover{
    opacity: 80%;
}

a.credito {
    opacity: 10%;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

